* {
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background: #0f172a;
  color: #fff;
  position: relative;
  z-index: 1000;
  font-family: sans-serif;
}

/* TOPO */
.navbar-container {
  min-height: 64px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.navbar-brand {
  font-size: 1.3rem;
  font-weight: 700;
}

/* HAMBURGUER */
.navbar-toggle {
  width: 34px;
  height: 26px;
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-toggle span {
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  transition: 0.3s;
}

/* ANIMAÇÃO HAMBURGUER */
.navbar-toggle span.active:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.navbar-toggle span.active:nth-child(2) {
  opacity: 0;
}
.navbar-toggle span.active:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* MENU MOBILE */
.navbar-menu {
  max-height: 0;
  overflow: hidden;
  background: #020617;
  transition: max-height 0.3s ease;
  display: flex;
  flex-direction: column;
}

.navbar-menu.open {
  max-height: 400px;
}

/* LINKS */
.navbar-link {
  display: block;
  padding: 1rem;
  color: #e5e7eb;
  text-decoration: none;
  border-top: 1px solid #1e293b;
}

.navbar-link:hover {
  background: #020617;
  color: #38bdf8;
}

/* CART */
.navbar-cart {
 display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #6366f1;
  padding: 12px;
  border-radius: 50%;
  z-index: 10;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
} 

.navbar-cart:hover {
  color: #38bdf8;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MOBILE CART FLUTUANTE */
.navbar-cart.mobile {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #6366f1;
  padding: 12px;
  border-radius: 50%;
  z-index: 1000;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* DESKTOP */
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }

  .navbar-menu {
    max-height: none;
    display: flex;
    justify-content: flex-end;
    background: transparent;
    flex-direction: row;
    align-items: center;
  }

  .navbar-link {
    border: none;
    padding: 0 1rem;
  }

  /* Cart no desktop dentro do menu */
  .navbar-cart.desktop {
    display: flex;
    margin-left: 1rem;
  }

  .navbar-cart.mobile {
    display: none;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .navbar-cart.desktop {
    display: none;
  }
  .navbar-cart.mobile {
    display: flex;
  }
}
