.app-layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-content {
  width: 100%;
  flex: 1;
  padding: 1rem;
}

/* DESKTOP */
@media (min-width: 1200px) {
  .app-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
}
